.git
.github
node_modules
vendor
.env
.env.*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
tests
phpunit.xml
docker-compose*.yml
.editorconfig
.gitattributes
.gitignore
